/* main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
} */

h1 {
  text-align: center;
  margin-top: 4rem;
}

.delete-button {
  visibility: hidden;
  display: inline-block;
}

.table-row:hover .delete-button {
  visibility: visible;
}

.dropdown-custom {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
}

.chart-container {
  background-color: rgba(145, 158, 171, 0.04);
}

.stock-data {
  margin-bottom: 5rem;
}